/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2015, 10:50:27 AM
    Author     : yerzhan
*/


/*Fields*/

.date {
    width: 10%;
    text-align: center;
}

.doc-type, .app-type {
    width: 20%;
}

.number {
    width: 5%;
    text-align: center;
}

/*Misc*/

.center {
    text-align: center;
    width: 100%;
}

.login-button {
    width: 150px;
}

.dialog-footer {
    padding: 10px 10px;
}

.doc {
    max-width: 600px;
    max-height: 600px;
}

.filter {
    margin-left: 200px !important;
    margin-right: 20px !important;
}

.bottom {
    text-align: center;
    font-size: smaller;
}

.rounded-icon-button {
    margin-top: -3px !important;
    width: 30px !important;
    height: 30px;
    border-radius: 15px; 
}

/*UI*/

.ui-datatable-footer {
    text-align: left !important;
}

.ui-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-panelgrid-cell {
    border-style: hidden !important;
}

.ui-panel-title {
    margin: 0 !important;
}

.ui-panel-titlebar {
    padding: 5px 10px !important;
}

.ui-panel-titlebar-icon {
    margin-top: 0.1em !important;
}

.ui-inputtextarea {
    width: 30em;
}

.ui-helper-reset {
    line-height: 1 !important;
}